$primaryColor: #f4f4f4;

body {
  background-color: $primaryColor;
  font-family: 'Arial', serif;
}

.navbar {
  background-color: #3b5998;
  overflow: hidden;
  height: 65px;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  ul {
    margin: 8px 0 0 0;
    list-style: none;
  }

  a:hover {
    background-color: #ddd;
    color: #000;
  }
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.85);
  overflow-x: hidden;
  padding-top: 65px;
  transition: 0.5s;

  a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ddd;
    display: block;
    transition: 0.5s;
  }

  a:hover {
    color: #fff;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 40px;
    margin-left: 50px;
  }
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  // overflow: hidden;
  width: 100px;
}

@media(max-width: 600px) {
  .navbar-nav {
    display: none;
  }
}

// @media(min-width: 600px) {
//   .open-slide {
//     display: none;
//   }
// }
